/* apply a natural box layout model to all elements */
/* line 25, ../sass/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 35, ../sass/main.scss */
body {
  background: url(../images/tardis_wallpaper_by_spruffen.jpg) no-repeat fixed top center white;
  background-size: cover;
  color: #5a91cc;
  font-family: "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

/* line 42, ../sass/main.scss */
.quiz-wrapper {
  width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* line 49, ../sass/main.scss */
.quiz-box {
  margin: 0 auto;
  width: 500px;
  height: 550px;
  background: black;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}

/* line 58, ../sass/main.scss */
.title img {
  display: block;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 500px;
}

/* line 64, ../sass/main.scss */
.question, .correct-answer {
  height: 2.6em;
  font-size: 1.5em;
  padding: 10px;
}

/* line 70, ../sass/main.scss */
.correct-answer {
  display: none;
  position: absolute;
  height: 310px;
  width: 100%;
  top: 190px;
  background: black;
  text-align: center;
}
/* line 79, ../sass/main.scss */
.correct-answer .ques {
  text-align: left;
}
/* line 82, ../sass/main.scss */
.correct-answer .ans {
  margin-top: 50px;
}
/* line 85, ../sass/main.scss */
.correct-answer .ans:before {
  content: "The correct answer is: ";
}

/* line 90, ../sass/main.scss */
.button {
  display: inline-block;
  text-decoration: none;
  width: 480px;
  margin: 5px 10px;
  padding: 14px;
  line-height: 50px;
  color: black;
  text-align: center;
  font: bold 1.2em "Helvetica Neue", Helvetica, Geneva, sans-serif;
  background: #366dae;
  background: -webkit-linear-gradient(top, #9dbce0, #122439);
  background: -moz-linear-gradient(top, #9dbce0, #122439);
  background: -o-linear-gradient(top, #9dbce0, #122439);
  background: -ms-linear-gradient(top, #9dbce0, #122439);
  background: linear-gradient(top, #9dbce0, #122439);
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
/* line 108, ../sass/main.scss */
.button:hover {
  background: #5f4a8f;
  background: -webkit-linear-gradient(top, #9481be, #1c162a);
  background: -moz-linear-gradient(top, #9481be, #1c162a);
  background: -o-linear-gradient(top, #9481be, #1c162a);
  background: -ms-linear-gradient(top, #9481be, #1c162a);
  background: linear-gradient(top, #9481be, #1c162a);
}

/* line 116, ../sass/main.scss */
.restart-button {
  display: none;
  position: absolute;
  bottom: 50px;
}

/* line 121, ../sass/main.scss */
.quiz-progress, .num-correct {
  padding-top: 18px;
}

/* line 124, ../sass/main.scss */
.num-correct {
  text-align: right;
}

/* line 128, ../sass/main.scss */
.question-result {
  text-align: center;
  padding-top: 8px;
  color: white;
  font: bold 1.5em "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

/* For sticky footer */
/* line 137, ../sass/main.scss */
section {
  min-height: 100%;
  margin-bottom: -25px;
}

/* line 141, ../sass/main.scss */
section:after {
  content: "";
  display: block;
}

/* line 145, ../sass/main.scss */
footer, section:after {
  /* .push must be the same height as footer */
  height: 25px;
}

/* line 149, ../sass/main.scss */
footer {
  line-height: 25px;
  font: 1em "Helvetica Neue", Helvetica, Geneva, sans-serif;
  text-align: right;
  background: black;
  padding: 5px;
}

/* For the GRID SYSTEM */
/* line 159, ../sass/main.scss */
.container {
  width: 500px;
  overflow: hidden;
}

/* line 164, ../sass/main.scss */
.column {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 170, ../sass/main.scss */
.column-33 {
  width: 33%;
}

/* line 174, ../sass/main.scss */
.column-50 {
  width: 49.5%;
}

/* line 178, ../sass/main.scss */
.column-66 {
  width: 66%;
}

/* line 182, ../sass/main.scss */
.column-100 {
  width: 100%;
}

/* line 187, ../sass/main.scss */
.put-at-bottom {
  position: absolute;
  bottom: 10px;
}
