/* apply a natural box layout model to all elements */
/* line 25, ../sass/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 35, ../sass/main.scss */
body {
  background: url(../images/tardis_wallpaper_by_spruffen.jpg) no-repeat fixed top center black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #5a91cc;
  font-family: "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

/* line 45, ../sass/main.scss */
.quiz-wrapper {
  width: 36.3em;
  margin: 0 auto;
  padding-top: 3.4em;
  padding-bottom: 2em;
}

/* line 52, ../sass/main.scss */
.quiz-box {
  margin: 0 auto;
  width: 31.3em;
  height: 35em;
  background: black;
  -webkit-border-radius: 0.8em;
  -khtml-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
  position: relative;
}

/* line 61, ../sass/main.scss */
.title img {
  display: block;
  -webkit-border-radius: 0.8em;
  -khtml-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
  width: 31.3em;
}

/* line 67, ../sass/main.scss */
.question, .correct-answer {
  height: 2.5em;
  font-size: 1.5em;
  padding: 0.4em;
}

/* line 73, ../sass/main.scss */
.correct-answer {
  display: none;
  position: absolute;
  height: 13em;
  width: 100%;
  top: 7.95em;
  background: black;
  text-align: center;
}
/* line 82, ../sass/main.scss */
.correct-answer .ques {
  text-align: left;
}
/* line 85, ../sass/main.scss */
.correct-answer .ans {
  margin-top: 2em;
}
/* line 88, ../sass/main.scss */
.correct-answer .ans:before {
  content: "The correct answer is: ";
}

/* line 93, ../sass/main.scss */
.button {
  display: block;
  text-decoration: none;
  width: 25.3em;
  margin: .6em auto;
  padding: .7em;
  color: black;
  text-align: center;
  font: bold 1.2em "Helvetica Neue", Helvetica, Geneva, sans-serif;
  background: #366dae;
  background: -webkit-linear-gradient(top, #9dbce0, #122439);
  background: -moz-linear-gradient(top, #9dbce0, #122439);
  background: -o-linear-gradient(top, #9dbce0, #122439);
  background: -ms-linear-gradient(top, #9dbce0, #122439);
  background: linear-gradient(top, #9dbce0, #122439);
  -webkit-border-radius: 2em;
  -khtml-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/* line 110, ../sass/main.scss */
.button:hover {
  background: #5f4a8f;
  background: -webkit-linear-gradient(top, #9481be, #1c162a);
  background: -moz-linear-gradient(top, #9481be, #1c162a);
  background: -o-linear-gradient(top, #9481be, #1c162a);
  background: -ms-linear-gradient(top, #9481be, #1c162a);
  background: linear-gradient(top, #9481be, #1c162a);
}

/* line 118, ../sass/main.scss */
.restart-button {
  display: none;
  position: absolute;
  bottom: 3.5em;
  margin: 0 .4em;
}

/* line 124, ../sass/main.scss */
.quiz-progress, .num-correct {
  padding-top: 1.4em;
}

/* line 127, ../sass/main.scss */
.num-correct {
  text-align: right;
}

/* line 131, ../sass/main.scss */
.question-result {
  text-align: center;
  padding-top: .6em;
  color: white;
  font: bold 1.5em "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

/* For sticky footer */
/* line 140, ../sass/main.scss */
section {
  min-height: 100%;
  margin-bottom: -25px;
}

/* line 144, ../sass/main.scss */
section:after {
  content: "";
  display: block;
}

/* line 148, ../sass/main.scss */
footer, section:after {
  /* .push must be the same height as footer */
  height: 25px;
}

/* line 152, ../sass/main.scss */
footer {
  line-height: 25px;
  font: 1em "Helvetica Neue", Helvetica, Geneva, sans-serif;
  text-align: right;
  background: black;
  padding: .2em;
  width: 100%;
}

/* For the GRID SYSTEM */
/* line 163, ../sass/main.scss */
.container {
  width: 31.3em;
  overflow: hidden;
}

/* line 168, ../sass/main.scss */
.column {
  float: left;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

/* line 174, ../sass/main.scss */
.column-33 {
  width: 33%;
}

/* line 178, ../sass/main.scss */
.column-50 {
  width: 49.5%;
}

/* line 182, ../sass/main.scss */
.column-66 {
  width: 66%;
}

/* line 186, ../sass/main.scss */
.column-100 {
  width: 100%;
}

/* line 191, ../sass/main.scss */
.put-at-bottom {
  position: absolute;
  bottom: .7em;
}
