$content-width: 31.3em;	// the width of the quiz area
$content-margin: .4em;	// standard white space around content in quiz area
$button-color: #366dae;	// slightly different base color for buttons
$accent-color: #5f4a8f;	// accent color for hovering
$base-color: #5a91cc;	// base text color
$text-size: 1.5em;		// base text size
$text-font: "Helvetica Neue", Helvetica, Geneva, sans-serif; // base font

@mixin button-grad ($side, $light, $dark) {
    background: -webkit-linear-gradient($side, $light, $dark);
    background: -moz-linear-gradient($side, $light, $dark);
    background: -o-linear-gradient($side, $light, $dark);
    background: -ms-linear-gradient($side, $light, $dark);
    background: linear-gradient($side, $light, $dark);
}

@mixin border-radius-mixin ($radius) {
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
    background: url(../images/tardis_wallpaper_by_spruffen.jpg) no-repeat fixed top center #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    color: $base-color;
    font-family: $text-font;
}

.quiz-wrapper {
	width: $content-width + 5em;
	margin: 0 auto;
	padding-top: 3.4em;
	padding-bottom: 2em;
}

.quiz-box {
	margin: 0 auto;
	width: $content-width;
	height: 35em;
	background: black;
	@include border-radius-mixin (.8em);
    position: relative;
}

.title img {
	display: block;
	@include border-radius-mixin (.8em);
	width: $content-width;
}

.question {
	height: 2.5em;
	font-size: $text-size;
	padding: $content-margin;
}

.correct-answer {
	@extend .question;
	display: none;
	position: absolute;
	height: 13em;
	width: 100%;
	top: 7.95em;
	background: black;
	text-align: center;
	.ques {
		text-align: left;
	}
	.ans {
		margin-top: 2em;
	}
	.ans:before {
		content: "The correct answer is: ";
	}
}

.button {
    display: block;
	text-decoration: none;
	//width: ($content-width - $content-margin*2);
	width: ($content-width - 6em);
	margin: .6em auto;
    padding: .7em;
    color: black;
    text-align: center;
    font: bold ($text-size - .3em) $text-font;
    
    background: $button-color;
    $darker: darken($button-color, 30%);
	$lighter: lighten($button-color, 30%);
    @include button-grad( top, $lighter, $darker );
	@include border-radius-mixin (2em);

	&:hover {
	    background: $accent-color;
	    $darker: darken($accent-color, 30%);
		$lighter: lighten($accent-color, 20%);
    	@include button-grad( top, $lighter, $darker );
	}
}
 
.restart-button {
	display: none;
	position: absolute;
    bottom: 3.5em;
    margin: 0 .4em;
}
.quiz-progress {
	padding-top: 1.4em;
}
.num-correct {
	@extend .quiz-progress;
	text-align: right;
}
.question-result {
	text-align: center;
	padding-top: .6em;
	color: white;
	font: bold $text-size $text-font;
}


/* For sticky footer */
section {
	min-height: 100%;
	margin-bottom: -25px;
}
section:after {
  content: "";
  display: block;
}
footer, section:after {
  /* .push must be the same height as footer */
	height: 25px; 
}
footer {
	line-height: 25px;
	font: 1em $text-font;
	text-align: right;
	background: black;
	padding: .2em;
	width: 100%;
}


/* For the GRID SYSTEM */
.container {
    width: $content-width;
    overflow: hidden;    
}

.column {
    float: left;
    padding-left: $content-margin;
    padding-right: $content-margin;
}

.column-33 {
    width: 33%;   
}

.column-50 {
    width: 49.5%;
}

.column-66 {
    width: 66%;
}

.column-100 {
    //margin-right: 0 !important;
    width: 100%;
}

.put-at-bottom {
    position: absolute;
    bottom: .7em;
}